<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
   
        <title>Blog</title>
</head>
<body>
    <header> 
         <h1> DevHouse </h1>
    </header>
    <p>
      <b>Postado em 02/03/2021</b>
    </p>
  <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, in voluptatem architecto aspernatur fugiat, quisquam, veniam sed deleniti iure magnam repudiandae corrupti itaque accusantium doloremque doloribus blanditiis? Unde, quos at.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <b>Facere</b> magni nobis porro dolorum delectus, blanditiis minima perspiciatis voluptatibus voluptas nemo nihil repellat tempore error officia molestias excepturi unde, iusto possimus?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, deleniti fugiat iste ex quibusdam error quia, totam, excepturi iusto harum recusandae modi dolor. Tempora eaque adipisci eveniet laudantium corrupti nobis.
        </p>
        <img class="
        icom-socia" src="/img/destaque.png" alt="DH Digital">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, illo. Perspiciatis numquam eos, eaque, aperiam, sed aspernatur officia eum dolore dicta accusamus natus nihil dignissimos nostrum voluptatem hic molestias explicabo!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti odit aut consectetur voluptatem? Cumque ipsum animi numquam quae omnis distinctio quaerat, neque esse, consequatur accusantium minima labore delectus officia quibusdam.
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab hic eos reprehenderit doloremque inventore sint nihil, in facilis nulla fugiat! Minus saepe ducimus veniam, autem facere deleniti magnam distinctio qui.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ex fugit voluptatibus corrupti vitae animi perferendis aperiam totam tempora culpa! Rem, aliquam nemo explicabo iure alias animi veniam facilis corrupti!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium adipisci rem fugit commodi quam. Atque repudiandae numquam vel consectetur? Ex possimus earum aspernatur, quo cupiditate illum tempora ut consectetur inventore.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatibus at iste accusantium doloribus veritatis quidem, ducimus, voluptatum dolores nesciunt minus commodi eum odio molestias maiores tempore dicta magnam temporibus.
        </p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ex non reprehenderit laboriosam quis quos commodi pariatur itaque. <b>Corporis aliquid,</b> exercitationem error eaque obcaecati quidem nulla iure sunt consequuntur atque!
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque et libero asperiores, culpa molestiae voluptatibus velit ipsam debitis sed fugiat reprehenderit accusantium omnis explicabo non modi qui laborum veritatis iure?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae laudantium consequuntur libero fugiat excepturi! Deserunt quos atque reiciendis iste dignissimos consectetur? Quos possimus deserunt vitae aspernatur, delectus molestiae beatae est?
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel quos iste dolore voluptatem reiciendis quo labore reprehenderit, aperiam similique eius minima sint illo, placeat distinctio architecto eligendi accusamus. Eius, distinctio.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit nesciunt non velit, doloribus ipsam debitis accusamus quod harum error. Magni quam voluptate asperiores perspiciatis! Possimus suscipit consequatur recusandae dolorum nobis!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur repellendus mollitia eius molestias voluptatum, sit corrupti porro magnam, unde fuga asperiores id hic iusto sapiente maiores labore, pariatur sunt.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eligendi eaque tenetur consequatur consectetur repudiandae itaque error aspernatur repellendus sequi magnam obcaecati, possimus unde qui distinctio quia nihil reprehenderit provident!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora obcaecati nulla eveniet nobis, perferendis aspernatur reprehenderit ex eos, molestiae laborum a illo similique recusandae! Mollitia eius porro quo? Molestias, harum.
            </p>
            <footer>
              <div align="center">
                <img class="icom-social" src="/img/facebook.svg" alt="Facebook">
                <img class="icom-social" src="/img/instagram.svg" alt="Instagram">
                <img class="icom-social" src="/img/linkedin.svg" alt="Linkeding">
                <img class="icom-social" src="/img/youtube.svg" alt="Youtube">
            </footer>
           
</body>
</html>