<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css\contato.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Contato</title>
    <header>
        <img src="/img/logo.png" alt = "Agência DevHouse" id="logo" />
<nav class="menu">
    <a href= ""> Home</a>
    <a href=""> Produtos</a>
<a href="">Depoimentos</a>
</nav>
<img id = "menu-mobile" src="/img/menu-icon.png" alt = "Icone" id="logo" />

<div class = "atendimento">
    <a href="tel:+1140028922">(11)4002-8922 </a>
    <button> Atendimento </button>
</div>
    </header>   
    <section id="contato">
        <div>
            <h1>Contato</h1>
            <smal> Lorem ipsum dolor sit, amet consectetur adipisicing elit.</smal>

        </div>
        <form action="">
            <div class="nome-completo">
            <input class="input-padrao" type="text" name="nome" placeholder="Digite Seu nome">
            <input class="input-padrao" type="text" name="sobrenome" placeholder="Digite seu Sobrenome">
        </div>
        <input class="input-padrao1" type="tel" name="telefone" placeholder="Digite seu Telefone">
        <br>
        <select class="input-padrao " name="servico" id="">
            <option selected disabled>Selecione um serviço</option>
            <option value="site">Site</option>
            <option value="sitema">Sistema</option>
            <option value="aplicativo">Aplicativo</option>
        </select>
        <button class="button-padrao" type="reset">Limpar Dados</button>
        <button class="button-padrao" type="submit">Enviar Agora</button>
        </form>
    </section>

<body>
    
</body>
</html>